* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.job-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    max-width: 100%;
}